{% extends 'main.html' %}
{% block static %}
<link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul class="flex-outer">
            <li>
                <label for="fio">{{ form.fio.label }}</label>
                <div id="fio">{{ form.fio }}</div>
                {% for error in form.fio.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
            </li>
            <li>
                <label for="pos_id"> {{ form.position_id.label }}</label>
                <div class="input_size" id="pos_id">{{ form.position_id }}</div>
                {% for error in form.position_id.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
            </li>
            <li>
                <label for="dep_id">{{ form.department_id.label }}</label>
                <div id="dep_id">{{ form.department_id }}</div>
                {% for error in form.department_id.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
            </li>
            <li>
                <button type="submit" id="btnSubmit">{{ form.submit() }}</button>
            </li>
        </ul>
    </form>
</div>
{% endblock %}