body {
  font: normal 18px sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 5 0px 0;
}
.index {
max-width: 928px;
margin: 0 auto;
text-align: justify;
}

#navbar {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
#navbar li { display: inline; }
#navbar {
  padding: 0;
  list-style-type: none;
  border: 2px solid #0066FF;
  border-radius: 20px 5px;
  width: 900px;
  height: 75px;
  text-align: center;
  background-color: #33ADFF;
}
#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 130px;
}
#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}
