{% extends 'main.html' %}
{% block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}
{% block content %}
<table class="resp-tab">
    <thead>
    <tr>
        <th>department_name</th>
        <th>current position</th>
    </tr>
    </thead>
    {% for dep in department %}
    <tbody>
    <tr>
        <td>{{ dep['department_name'] }}</td>
        <td style="width: 70px;">
            <button class="test"><a href="{{ url_for('delete_department', department_id=dep['id']) }}">Удалить</a></button>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}